<div class="mat-card-container" open-sans-400>
    <mat-card class="search-card">
        <mat-card-title class="search-title">
            Where do you want to travel ? 🌍    
        </mat-card-title>

        <mat-card-content class="search-bar">
            <mat-form-field appearance="fill" class="search-field">
                <mat-label>Search for a city or town</mat-label>
                <input matInput [(ngModel)]="searchTermString" (input)="search(searchTermString)" />
                <mat-icon matPrefix>search</mat-icon>
            </mat-form-field>
        </mat-card-content>


        <div class="search-results" *ngIf="(destinations$ | async) as destinations">
            <app-search-result-card *ngFor="let destination of destinations"
                [destination]="{ cityName: destination.cityName, countryName: destination.countryName }"
                (click)="handleDestinationSelect(destination)"
                [class.selected]="selectedDestination && isEqual(destination, selectedDestination)"
            >
            </app-search-result-card>
        </div>

    </mat-card>


    <mat-card class="destinations-card">
        <mat-card-title class="popular-destinations-title">
            Popular destinations 📈
        </mat-card-title>


        <div class="popular-destinations" *ngIf="(popularDestinations$ | async) as popularDestinations">
            <app-popular-destination-card *ngFor="let popularDestination of popularDestinations" 
                [popularDestination]="{ cityName: popularDestination.cityName, countryName: popularDestination.countryName, image: popularDestination.image }"
                [class.selected]="selectedDestination && isEqual(popularDestination, selectedDestination)"
                (click)="handleDestinationSelect(popularDestination)"
            >
            </app-popular-destination-card>
        </div>

        <mat-card-footer *ngIf="isLoading">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </mat-card-footer>  

    </mat-card>

    <div class="buttons">
        <button (click)="back()" mat-raised-button color="basic"class="large-button" [disabled]="true">
            Back
        </button>

        <button (click)="next()" type="submit" [disabled]="!selectedDestination" mat-raised-button color="primary" class="large-button">Next</button>
    </div>
</div>

<app-footer></app-footer>
<router-outlet></router-outlet>