.search-toolbar {
    justify-content: center;
    padding: 1rem;
}

.search-container {
    display: flex;
    flex-direction: row;
    max-width: 600px;
    width: 100%;
}

.search-field {
    flex: 1;
}



.popular-destinations {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0px;
}

app-popular-destination {
    margin: 20px;
}

.title {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    font-size: 2em;

}

mat-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px;
    padding: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}

mat-card:hover {
    box-shadow: 0px 8px 20px rgba(5, 2, 179, 0.3);
}

.search-field {
    min-width: 60vw;
}

.mat-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


@media (max-width: 600px) {
    .destination-card {
        margin: 5px;
    }
}

@media (max-width: 600px) {
    .popular-destinations {
        flex-direction: column;
    }
}