<div class="mat-card-container">
    <mat-card class="search-card">
        <mat-card-title class="title">
            Where do you want to go?
        </mat-card-title>

        <mat-card-content class="search-bar">
            <mat-form-field appearance="fill" class="search-field">
                <mat-label>Search for a city or town</mat-label>
                <input matInput [(ngModel)]="searchTermString" (input)="search(searchTermString)"/>
                <mat-icon matPrefix>search</mat-icon>
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="search(searchTermString)">Search</button>
        </mat-card-content>


        <!-- results -->

        <ng-container>
            <div *ngIf="(destinations$ | async) as destinations">
                <div *ngFor="let destination of destinations.data">
                    <h3 matLine>{{destination.name}} : {{getCountryName(destination.address.countryCode)}}</h3>
                </div>
            </div>
        </ng-container>

        


    </mat-card>


   



    <mat-card class="destinations-card">
        <mat-card-title class="title">
            Popular destinations
        </mat-card-title>


        <div class="popular-destinations">
            <app-popular-destination 
                *ngFor="let destination of popularDestinations" 
                [name]="destination.name"
                [image]="destination.image">
            </app-popular-destination>
        </div>
    </mat-card>
</div>

<router-outlet></router-outlet>