<div class="mat-card-container">
  <mat-card class="interests-card">
    <mat-card-title class="interests-title open-sans-400">
      How do you want to spend your time ? ⏳️
    </mat-card-title>

    <mat-card-content class="interests-content">
      @for (interestsList of interests; let i = $index; track
      interestsList.category) {
      <mat-card class="interests-division">
        <div class="interests-category-title">
          {{ interestsList.category }}
        </div>
        <app-chips
          [options]="interestsList.items"
          [ordinal]="i"
          (selectionChange)="updateSelection($event)"
        ></app-chips>
      </mat-card>
      }

      <app-chips-input [options]="customInterests"></app-chips-input>
    </mat-card-content>
  </mat-card>

  <div class="buttons">
    <button
      (click)="back()"
      mat-raised-button
      color="basic"
      class="large-button"
    >
      Back
    </button>

    <button
      (click)="next()"
      type="submit"
      [disabled]="false"
      mat-raised-button
      color="primary"
      class="large-button"
    >
      Next
    </button>
  </div>
</div>

<router-outlet></router-outlet>
