.open-sans-400 {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}


.mat-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
<<<<<<< HEAD
<<<<<<< HEAD
    margin-top: 0px;
=======
    margin-top: 60px;
>>>>>>> f3b8e49dd56df145f298594f58854a11e8b0e04b
=======
    margin-top: 60px;
>>>>>>> f3b8e49dd56df145f298594f58854a11e8b0e04b
}

mat-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px;
    padding: 10px;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}

.budget-container {
    margin-top: 0px;
}

.companion-container {
    margin-bottom: 0px;
}


.companion-card {
    padding-bottom: 20px;
    margin-bottom: 0px;
<<<<<<< HEAD
<<<<<<< HEAD
    background-color: #efefff;
=======
>>>>>>> f3b8e49dd56df145f298594f58854a11e8b0e04b
=======
>>>>>>> f3b8e49dd56df145f298594f58854a11e8b0e04b
}

.price-card {
    padding-bottom: 50px;
}

.companion-title {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px 10px 0px;
    font-size: 2em;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin: 20px 40px 40px;
    padding-bottom: 40px;
}

button {
    font-size: 1.2em;
    padding: 20px 60px;
}

mat-card:hover {
    box-shadow: 0px 8px 20px rgba(5, 2, 179, 0.3);
}

.selected {
    border-radius: 20px;
    box-shadow: 0px 0px 15px 2px rgba(5, 2, 179, 0.3);
    transform: scale(1.05);
    transition: box-shadow 0.3s ease;
}


.companions {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    gap: 40px;
}

<<<<<<< HEAD
<<<<<<< HEAD
app-footer {
    width: 100%;
  }
  
=======

>>>>>>> f3b8e49dd56df145f298594f58854a11e8b0e04b
=======

>>>>>>> f3b8e49dd56df145f298594f58854a11e8b0e04b
