.open-sans-400 {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.app-logo-name {
  display: flex;
  cursor: pointer;
  align-items: center;
}

.navbar {
  position: fixed;
  z-index: 2;
  top: 10px;
  padding-left: 60px;
  padding-right: 60px;
  border-radius: 20px !important;
  width: 96%;
  justify-self: center !important;
  left: 0;
  right: 0;
  background-color: rgba(63, 81, 181, 0.2);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;

  .logo {
    height: 40px;
    margin-right: 16px;
  }

  .app-name {
    color: #2930cc;
    font-size: 1.5rem;
    font-weight: 900;
    margin-right: 16px;
  }

  .spacer {
    flex: 1 1 auto;
  }

  .nav-links {
    display: flex;

    .logout-button {
      color: rgb(255, 0, 0);
    }

    a {
      color: #2930cc;
      text-decoration: none;
      margin-left: 16px;
      font-weight: 600;
      cursor: pointer;

      mat-icon {
        margin-right: 8px;
      }

      &:hover {
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
  }

  .menu-button {
    display: none;
    color: #2930cc;
  }

  @media (max-width: 1156px) {
    .nav-links {
      display: none;
    }

    .menu-button {
      display: block;
    }
  }
}

mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  padding-top: 3.5rem;
  @media screen and (min-width: 600px) {
    padding-top: 4rem;
  }
  
  .entry {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.75rem;
    color: #2930cc;

    span {
      font-weight: 600;
    }

    mat-icon {
      font-size: 900;
    }
  }

  .logout {
    color: rgb(255, 0, 0);
  } 
  
}

mat-sidenav-content {
  padding-top: 3.5rem;
  @media screen and (min-width: 600px) {
    padding-top: 4rem;
  }
}

.blurred {
  backdrop-filter: blur(10px);
}
