.open-sans-400 {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.app-logo-name {
  display: flex;
  cursor: pointer;
  align-items: center;
}

.navbar {
<<<<<<< HEAD
  position: fixed;
  z-index: 2;
  top: 10px;
=======
>>>>>>> f3b8e49dd56df145f298594f58854a11e8b0e04b
  padding-left: 60px;
  padding-right: 60px;
  border-radius: 20px !important;
  width: 96%;
  justify-self: center !important;
<<<<<<< HEAD
  left: 0;
  right: 0;
=======
  position: fixed;
  top: 10px;
  left: 0;
  right: 0;
  z-index: 1000;
>>>>>>> f3b8e49dd56df145f298594f58854a11e8b0e04b
  background-color: rgba(63, 81, 181, 0.2);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;

  .logo {
    height: 40px;
    margin-right: 16px;
  }

  .app-name {
    color: #2930cc;
    font-size: 1.5rem;
    font-weight: 900;
    margin-right: 16px;
  }

  .spacer {
    flex: 1 1 auto;
  }

  .nav-links {
    display: flex;

<<<<<<< HEAD
    .logout-button {
      color: rgb(255, 0, 0);
    }

=======
>>>>>>> f3b8e49dd56df145f298594f58854a11e8b0e04b
    a {
      color: #2930cc;
      text-decoration: none;
      margin-left: 16px;
      font-weight: 600;
      cursor: pointer;

      mat-icon {
        margin-right: 8px;
      }

      &:hover {
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
<<<<<<< HEAD
=======

>>>>>>> f3b8e49dd56df145f298594f58854a11e8b0e04b
  }

  .menu-button {
    display: none;
    color: #2930cc;
  }

<<<<<<< HEAD
  @media (max-width: 1156px) {
=======
  @media (max-width: 848px) {
>>>>>>> f3b8e49dd56df145f298594f58854a11e8b0e04b
    .nav-links {
      display: none;
    }

    .menu-button {
      display: block;
    }
  }
}

<<<<<<< HEAD
mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  padding-top: 3.5rem;
  @media screen and (min-width: 600px) {
    padding-top: 4rem;
  }
  
  .entry {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.75rem;
    color: #2930cc;

    span {
      font-weight: 600;
    }

    mat-icon {
      font-size: 900;
    }
  }

  .logout {
    color: rgb(255, 0, 0);
  } 
  
}

mat-sidenav-content {
  padding-top: 3.5rem;
  @media screen and (min-width: 600px) {
    padding-top: 4rem;
  }
=======
.sidenav-container {
  height: 100vh;
  margin-top: 64px;
  border-radius: 20px;
}

.sidenav {
  width: 250px;

  mat-nav-list {
    display: flex;
    flex-direction: column;

    a {
      display: flex;
      align-items: center;

      span {
        font-weight: 500;
      }

      mat-icon {
        margin-right: 16px;
        color: #2930cc;
        padding-top: 5px;
      }
    }
  }
}

.sidenav-content {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 64px);
  overflow: auto;
>>>>>>> f3b8e49dd56df145f298594f58854a11e8b0e04b
}

.blurred {
  backdrop-filter: blur(10px);
}
<<<<<<< HEAD
=======


>>>>>>> f3b8e49dd56df145f298594f58854a11e8b0e04b
