.open-sans-400 {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.mat-card-container {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // padding: 16px;
}

.content-container {
  display: flex;
  flex-direction: column;
  // gap: 10px;
  // width: 60%;
}

mat-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px;
  padding: 10px;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}

.itinerary-list-card {
  background-color: #efefff;
}

mat-card:hover {
  box-shadow: 0px 8px 20px rgba(5, 2, 179, 0.3);
}

.itineraries-title {
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0px 30px 0px;
  font-size: 2.1em;
}

.fab-button-new {
  position: fixed;
  right: 40px;
  bottom: 40px;
  width: 62px;
  height: 62px;
  z-index: 1000;
}

button mat-icon {
  font-size: 42px;
  height: 42px;
  width: 42px;
}

.progress-spinner {
  margin-top: 10px;
}

app-footer {
  // position: fixed;
  // bottom: 0;
  width: 100%;
}

.no-itineraries-text {
  font-size: 1.5em;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  padding-bottom: 80px;
}
