<div class="mat-card-container open-sans-400">
  @if (itineraryList$ | async; as itineraryList) {
  <mat-card class="itinerary-list-card">
    <mat-card-title class="itineraries-title open-sans-400">
      My Travel Itineraries 🧭
    </mat-card-title>

    <mat-card-content class="content-container">
      @for (itinerary of itineraryList.itineraries; track $index) {
      <app-itinerary-card
        [itinerary]="itinerary"
        [image]="photos[$index]"
        (viewItinerary)="viewItinerary($event)"
        (deleteItinerary)="deleteItinerary($event)"
      ></app-itinerary-card>
      }
    </mat-card-content>
  </mat-card>
  }
</div>

<button
  mat-fab
  color="primary"
  class="fab-button-new"
  (click)="goToNewItinerary()"
>
  <mat-icon>add</mat-icon>
</button>


<router-outlet></router-outlet>

<app-footer></app-footer>