:host {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}

.mat-form-field {
  width: 100%;
  min-width: 700px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
  width: 100%;
}

.button {
  display: flex;
  justify-content: flex-end;
}

.title {
  // bold
  font-weight: bold;
}

.email-field,
.password-field {
  min-width: 600px;
}

:host {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}

.mat-form-field {
  width: 100%;
  min-width: 700px;
}

mat-card {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Add a prominent shadow */
  transition: box-shadow 0.3s ease; /* Add smooth transition on hover */
}

mat-card:hover {
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3); /* Increase shadow on hover */
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
  width: 100%;
}

mat-card-title {
  margin: 20px 0px;
  font-size: 2em;
}

.button {
  display: flex;
  justify-content: flex-end;
}

.title {
  font-weight: bold;
}

.email-field,
.password-field {
  min-width: 60vw;
}


