.container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
  margin: 100px;
  padding: 100px;
}

.save-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
}

.save-button {
  // display: block;
  width: 80%;
  font-size: 1.8em !important;
  font-weight: 600 !important;
  padding: 30px !important;
}
