.open-sans-400 {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

mat-card {
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.2s ease-in-out;
    margin: 40px;
    padding: 40px;
}

.daily {
    background-color: #f8f8fe;
}

mat-card:hover {
    box-shadow: 0px 8px 20px rgba(5, 2, 179, 0.3);
}

mat-card-header {
    justify-content: space-between;
}

.description {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: large;
    line-height: 30px;
}

.day-description {
    font-weight: 500;
}

.day-title {
    font-size: 1.9em;
    font-weight: bolder;
}

.stepper {
    margin-top: 20px;
}

.stepper-title {
    font-size: 1.3em;
    font-weight: bolder;
}

.place-overview-container{
    max-width: 600px;
}

.color-icon {
    color: rgb(241, 2, 58);
}

