@use "@angular/material" as mat;
@use "@angular/material-experimental" as matx;

@use "igniteui-angular/theming" as *;

@include core();
@include indigo-light-theme($light-indigo-palette);

$m3-dark-theme: matx.define-theme(
  (
    color: (
      theme-type: dark,
      primary: matx.$m3-blue-palette,
      tertiary: matx.$m3-blue-palette,
    ),
  )
);

$m3-light-theme: matx.define-theme(
  (
    color: (
      primary: matx.$m3-blue-palette,
      tertiary: matx.$m3-blue-palette,
    ),
  )
);

// .dark-theme {
//   @include mat.all-component-themes($m3-dark-theme);
// }

.light-theme {
  @include mat.all-component-themes($m3-light-theme);
}

@font-face {
  font-family: "Open Sans";
  src: url("assets/fonts/OpenSans-VariableFont_wdth,wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Open Sans Italic";
  src: url("assets/fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf")
    format("truetype");
}

.open-sans-400 {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Open Sans";
<<<<<<< HEAD
<<<<<<< HEAD
  // overflow: hidden;
=======
  height: 100%;
  overflow: hidden;
>>>>>>> f3b8e49dd56df145f298594f58854a11e8b0e04b
=======
  height: 100%;
  overflow: hidden;
>>>>>>> f3b8e49dd56df145f298594f58854a11e8b0e04b
}

.map-container {
  border-radius: 20px !important;
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.2) !important;
  transition: box-shadow 0.3s ease;
}

.map-container:hover {
  box-shadow: 0px 8px 20px rgba(5, 2, 179, 0.3) !important;
}

<<<<<<< HEAD
<<<<<<< HEAD
.mdc-switch .mdc-switch__handle-track {
  width: calc(100% - 52px) !important;
=======
=======
>>>>>>> f3b8e49dd56df145f298594f58854a11e8b0e04b
app-root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.router-outlet + * {
  flex: 1 1 auto;
  overflow: auto;
<<<<<<< HEAD
>>>>>>> f3b8e49dd56df145f298594f58854a11e8b0e04b
=======
>>>>>>> f3b8e49dd56df145f298594f58854a11e8b0e04b
}